/* navbar.css */

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.sticky-navbar.scrolled {
  background-color: #2c3e50;
}
